* {
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
    margin: 0;
    padding: 0; 
    box-sizing: border-box; 
}
body {
    background-color: beige;
}

.main-heading {
    background-color: chocolate;
    text-align: center;
    padding: 20px;
    color: white;
}

.footer {
    background-color: chocolate;
    margin: auto;
    padding: 20px;
    text-align: center;
  }
.footer p {
    color: white;
    font-weight: bold;
  }
.footer a {
    color: white;
    font-weight: bold;
    text-decoration: none;
    display: inline;
  }